<div class="container">
  <% if notice %>
    <div class="notification is-success">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="notification is-danger">
      <%= alert %>
    </div>
  <% end %>
</div>
